<div class="box wide">
  <p>
    Questions? Comments? Email <%= mail_to 'rob@forwoodworkers.com' %> or send a
    <%= link_to 'message', messages_path(:to => 'rob') %> to <strong>rob</strong>.
  </p>
</div>
